/* Styling the Body element i.e. Color,
Font, Alignment */

html {
    height: 100vh;
}

body {
    background-color: #fc9803;
    font-family: Verdana;
    text-align: center;
    
}

h1{
    font-size: 5vw;
}

h2{
    font-size: 4vw;
}

div#background {
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    background-size: 100% auto;
    background-attachment: fixed;
    padding: 1% 50px 1%;
}

div#white {
    align-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    background-size: 100% 100%;
    padding: 90px 90px 80px
}


/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 50px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 30px;
}

/* Styling form-control Label */
.form-control label {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    font-style: italic;
}

.form-control #checkbox{
    font-size: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    font-size: 10px;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}